.home {
  &__language {
    position: fixed;
    right:0.5%;
    top: 1%;
    display: flex;
    gap: 1rem;
    z-index: 100;

    button {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      border: none;
      cursor: pointer;
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--mat-sys-surface);
      box-shadow: 0 1px 4px 1px hwb(0deg 0% 100% / 29%);
    }
  }
}

.active {
  background-color: var(--mat-sys-inverse-primary);
}
