<!-- <app-header></app-header> -->
<main>
  @defer ( when !store.isLoading(); prefetch when !store.isLoading()) {
  <router-outlet></router-outlet>
  <h1>router outlet defer</h1>
  } @placeholder {
  <app-loader></app-loader>
  <h1>app-loade</h1>
  }@error {
  <section class="flex flex-col items-center justify-center p-6 text-center">
    <h2 class="text-xl font-semibold text-red-600 mb-2">
      An error occurred while loading the pets
    </h2>
    <p class="text-gray-600">
      Please try again later or check your connection.
    </p>
  </section>
  }
</main>
<!-- <app-footer></app-footer> -->
